# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
**/venv/
**/.venv/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/